{% extends "../base.html" %}

{#
  New Announcement Page.
  Post new announcement.
#}


{% block Body %}
  <div id="editform"></div>
  <script type="text/jsx">
    {% set ann={'title':title,'content':content,'id':ann_id} %}
    var ann = {% raw json_encode(ann) %}
    var atts = [
      {% for att in atts %}
        {% raw json_encode(att.to_dict()) %},
      {% end %}
    ];
    var tmpatts = [
      {% for att in tmpatts %}
        {% raw json_encode(att.to_dict()) %},
      {% end %}
    ];
    React.render(<SC.EditAnnPage ann={ann} attlist={atts} tmpatts={tmpatts} _xsrf_token={_data._xsrf_token}/>, document.getElementById('editform'));
  </script>
{% end %}
