body,h1,h2,h3,h4,h5,h6{
  font-family: 
    Arial, "文泉驛正黑", "WenQuanYi Zen Hei", "儷黑 Pro", "LiHei Pro",
    "SC Microsoft JhengHei UI", sans-serif;
}
@font-face {
  font-family: 'SC Microsoft JhengHei UI';
  font-style: normal;
  font-weight: 600;
  src: local("Microsoft JhengHei"),local("微軟正黑體");
}
body{
  background-image: url("/static/background.jpg");
  background-repeat: repeat;
  word-break: break-all;
}
a{
  color: #a10;
}
a:hover,
a:active,
a:focus{
  color: #a10;
}
.sc-border-a a{
  color: #333;
  border-bottom: 1px dashed #a10;
}
.sc-border-a a:hover,
.sc-border-a a:focus,
.sc-border-a a:active{
  color: #a10;
  text-decoration: none;
}
.sc-ann-search-form{
  padding: 1px 12px 24px 12px;
  border-radius: 2px;
  background-color: rgba(80,80,80,.9);
  color: #ececec;
  box-shadow: 0 1px 6px 0 rgba(0,0,0,.12),0 1px 6px 0 rgba(0,0,0,.12);
}
.sc-ann-search-form .control-label{
  color: #ececec;
}
.sc-ann-search-form .form-control{
  color: #ececec;
}
.sc-ann-search-form .dropdownjs{
  color: #333;
}
.btn.btn-default.sc-pagination-disable,
.btn.btn-default.sc-pagination-disable:hover,
.btn.btn-default.sc-pagination-disable:focus,
.btn.btn-default.sc-pagination-disable:active{
  opacity: 0.3;
}
.btn.btn-default.sc-pagination-default-btn:hover,
.btn.default-btn.sc-pagination-default-btn:focus,
.btn.default-btn.sc-pagination-default-btn:active{
  background-color: rgba(0,0,0,.12);
}
.fb-like{
  display: inline-block;
}