body,h1,h2,h3,h4,h5,h6{
  font-family: 
    Arial, "文泉驛正黑", "WenQuanYi Zen Hei", "儷黑 Pro", "LiHei Pro",
    "Meiryo", "微軟正黑體", "Microsoft JhengHei",
    sans-serif;
}
body{
  background-image: url("/static/background.jpg");
  background-repeat: repeat;
  word-break: break-all;
}
.sc-border-a a{
  color: #333;
  border-bottom: 1px dashed #009688;
}
.sc-border-a a:hover{
  color: #009688;
  text-decoration: none;
}
