body,h1,h2,h3,h4,h5,h6{
  font-family: 
    Arial, "文泉驛正黑", "WenQuanYi Zen Hei", "儷黑 Pro", "LiHei Pro",
    "Meiryo", "微軟正黑體", "Microsoft JhengHei",
    sans-serif;
}
body{
  background-image: url("/static/background.jpg");
  background-repeat: repeat;
  word-break: break-all;
}
.sc-border-a a{
  color: #333;
  border-bottom: 1px dashed #009688;
}
.sc-border-a a:hover{
  color: #009688;
  text-decoration: none;
}
.sc-ann-search-form{
  padding: 1px 12px 24px 12px;
  border-radius: 2px;
  background-color: rgba(80,80,80,.9);
  color: #ececec;
  box-shadow: 0 1px 6px 0 rgba(0,0,0,.12),0 1px 6px 0 rgba(0,0,0,.12);
}
.sc-ann-search-form .control-label{
  color: #ececec;
}
.sc-ann-search-form .form-control{
  color: #ececec;
}
.sc-ann-search-form .dropdownjs{
  color: #333;
}