#!/usr/bin/env python
# -*- coding: utf-8 -*-

"""SchoolCMS-config-file."""

from __future__ import unicode_literals


# cookie_secret
cookie_secret = ''

# Connection string for the database.
# Replace [ user ][ password ][ database name ]
# example: "mysql://myuser:abcd1234@localhost/myuserdb"
database_config = 'mysql+mysqlconnector://[ user ]:[ password ]@localhost/[ database name ]?charset=utf8'

# If database_debug is True,
database_debug = False

# Server debug
server_debug = False
