{% extends "base.html" %}

{#
  App Page.
#}


{% block Meta %}
  <meta property="og:title" content="{{ '%s | %s' % (meta['title'], system_name) }}"/>
  <meta property="og:type" content="article"/>
  <meta property="og:url" content="{{ '%s://%s%s' % (_protocol, _host, meta['uri']) }}"/>
  <meta property="og:image" itemprop='image' content="{{ '%s://%s%s' % (_protocol, _host, static_url('logo.png')) }}"/>
  <meta property="og:site_name" content="{{ system_name }}"/>
  <meta property="og:description" itemprop='description' content="{{ meta['content'] }}"/>
{% end %}
