<!DOCTYPE HTML>
{#
  
  Html Template Base.

#}
<html lang="zh-Hant">
  <head>
    <title>School CMS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="{{ static_url('css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ static_url('css/material-fullpalette.min.css') }}">
    {% for url in js_urls %}
      <script src="{{ url }}"></script>
    {% end %}
    {% for url in jsx_urls %}
      <script src="{{ url }}"></script>
    {% end %}

  </head>
  <body>
    <div id="app"></div>
    {% block Body %}
    {% end %}
    <script type="text/jsx">
      React.render(<SC.App history={true} />,document.getElementById('app'));
    </script>
    <style>
      body{
        background-image: url("{{ static_url('background.jpg') }}");
        background-repeat: repeat;
        word-break: break-all;
      }
    </style>
  </body>
</html>